.hww{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hww-container{
    width: 80%;
    height: 200px;
    background-color: hsl(256, 26%, 20%);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../assets/images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.hwww{
    width: 50%;
}

.svgH{
    position: absolute;
    right: 150px;
    top: 1556px;
    height: 200px;
}

@media only screen and (max-width: 700px){
    .hww-container{
            flex-direction: column;
            height: auto;
            text-align: center;
            padding: 30px;
            background-image: url("../../assets/images/bg-pattern-how-we-work-mobile.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
    }
    .hwww{
        width: 80%;
    }
}