.hero {
    height: 90vh;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    color: #fff;
}

.hero-one,
.hero-two {
    width: 40%;
}

.hero-two img {
    width: 400px;
    height: 500px;
    position: relative;
    top: 100px;
    max-width: 100%;
}

.hero-mob{
    display: none;
    height: 300px;
    width: 100%;
    background-image: url("../../assets/images/image-intro-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../assets/images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-size: 300px 400px;
    background-position: top right;
}

hr {
    width: 100px;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    line-height: 1;
}

p {
    margin-bottom: 30px;
}

a {
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
}

#whiteLink{
    color: #fff !important;
}

#whiteLink:hover{
    color: hsl(256, 26%, 20%) !important;
}

a:hover{
    color: hsl(256, 26%, 20%);
    background-color: #fff;
}

/* .pattern {
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 6;
    height: 400px;
} */


@media only screen and (max-width: 600px) {
    .hero-two {
        display: none;
    }
    .hero-one{
        width: 80%;
    }
    .hero-mob{
        display: block;
    }
    .hero-container{
            background-image: url('../../assets/images/bg-pattern-intro-left-mobile.svg');
            background-position: top left;
            background-size:30% 35%;
    }
}
