nav {
    height: 80px;
    width: 100%;
    color: hsl(273, 4%, 51%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla',
        sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: inherit;
    background-color: #fff;
    z-index: 5;
}

.nav-container li {
    list-style-type: none;
    padding-right: 20px;
    font-size: 20px;

}

.nav-container a {
    text-decoration: none;
}

.nav-container a:hover {
    color: hsl(256, 26%, 20%);
}

.menu {
    display: flex;
}


.btn {
    padding: 10px;
    color: hsl(256, 26%, 20%) !important;
    border: 1px solid hsl(256, 26%, 20%);
}

.btn:hover {
    background-color: hsl(256, 26%, 20%);
    color: #fff !important;
}

.hamburger {
    display: none;
    z-index: 5;
}

.mobileNav {
    height: 100vh;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    position: absolute;
    z-index: 3;
    transition: 0.7s ease-in;
    background-image: url("../../assets/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mmenu {
    text-align: center;
    height: 200px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.mobileNav li {
    list-style-type: none;
}

.mobileNav a {
    border: none;
    font-size: 25px;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
}

.mobileNav a:hover{
    background-color: transparent !important;
    border: 1px solid #fff;
}

@media only screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
}