.footer {
    height: 500px;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-position: left top;
}

.footer-container {
    height: 400px;
    width: 80%;
}

.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.socials img {
    margin-right: 20px;
}

.footHr {
    margin-bottom: 50px;
    width: 100%;
}

.footmenus {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.footmenus li {
    list-style-type: none;
    margin-bottom: 15px;
}

.svgF {
    position: absolute;
    left: 0;
    bottom: -1400px;

}